<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        {% if app.user %}

            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('accueil') }}">Bienvenue
                    {{app.user.username}}!</a>
            </li>
                {% if is_granted ("ROLE_CLIENT") %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ path('accueil') }}">Mon compte</a>
                </li>
                {% endif %}
                {% if is_granted ("ROLE_PRODUCTEUR") %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ path('accueil') }}">Ma ferme</a>
                </li>
                {% endif %}
                {% if is_granted ("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Gestion des données</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Nous contacter</a>
                </li>
                {% endif %}
           <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('app_login') }}">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('app_register') }}">Créer un compte</a>
            </li>
        {% endif %}

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
        </form>

    </div>
</nav>