{% extends 'base.html.twig' %}

{% block title %}Drive index{% endblock %}

{% block body %}
    <h1>Drive index</h1>

{{ include('product/_form.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Addresse</th>
            </tr>
        </thead>
        <tbody>
        {% for drive in drives %}
            <tr>
                <td>{{ drive.id }}</td>
                <td>{{ drive.name }}</td>
                <td>{{ drive.address.line }} - <strong>{{ drive.address.zipcode }} {{ drive.address.city }}</strong></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('drive_new') }}">Create new</a>
{% endblock %}
