{% extends 'base.html.twig' %}

{% block title %}Drive index{% endblock %}

{% block body %}
    <h1>Drive index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drive in drives %}
            <tr>
                <td>{{ drive.id }}</td>
                <td>{{ drive.name }}</td>
                <td>
                    <a href="{{ path('drive_show', {'id': drive.id}) }}">show</a>
                    <a href="{{ path('drive_edit', {'id': drive.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('drive_new') }}">Create new</a>
{% endblock %}
