{% extends 'base.html.twig' %}

{% block title %}Ordered{% endblock %}

{% block body %}
    <h1>Ordered</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordered.id }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ ordered.createdAt ? ordered.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Total_price</th>
                <td>{{ ordered.totalPrice }}</td>
            </tr>
            <tr>
                <th>Validated</th>
                <td>{{ ordered.validated ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ordered_index') }}">back to list</a>

    <a href="{{ path('ordered_edit', {'id': ordered.id}) }}">edit</a>

    {{ include('ordered/_delete_form.html.twig') }}
{% endblock %}
