{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% if is_granted ("ROLE_CLIENT") %}

<div class="my-4">
<h2> Bienvenue sur votre Espace Client </h2>
</div>

<div class="my-4">
<img src="{{asset('assets/img/user-photo' ~ user.photo)}}" alt="Photo Utilisateur"></img>
</div>

<div class="my-4">
<h5>Petit récapitulatif de vos informations client : </h5>
</div>


<div class="my-4">
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Adresse (line)</th>
            <th>Adresse (line2)</th>
            <th>Code Postal</th>
            <th>Ville</th>
            <th>Telephone</th>

        </tr>
        <tr>
            <td>{{user.lastname}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.line}}</td>
            <td>{{user.address.line2}}</td>
            <td>{{user.address.zipcode}}</td>
            <td>{{user.address.city}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </table>
</div>

<p>

<div class="my-4">
    <button>Modifier mes informations</button>
</div>

<p>

<div class="my-4">
<h5>Vos dernières commandes : </h5>
</div>

<div class="my-4">
    <table>
        <tr>
            <th>Id de la commande</th>
            <th>Date de la commande</th>
            <th>Prix Total</th>
            <th>Details</th>
        </tr>
        <tr>
            <td>#</td>
            <td>19/04/2020</td>
            <td>120 euros</td>
            <td>Cliquez-ici</td> 
            
        </tr>
    </table>

</div>

<p>

<div class="my-4">
    <button>Supprimer mon compte</button>
</div>

{% endif %}

{% if is_granted ("ROLE_PRODUCTEUR") %}

<div class="my-4">
<h2> Bienvenue sur votre Espace Producteur</h2>
</div>


<div class="my-4">
<img src="" width="150" height="150" alt="Photo Utilisateur"></img>
</div>

<div class="my-4">
<h5>Petit récapitulatif de vos informations Producteur :</h5>
</div>

<div class="my-4">
    <table>
        <tr>
            <th>Nom de votre société</th>
            <th>N° SIRET</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Adresse (line)</th>
            <th>Adresse (line2)</th>
            <th>Code Postal</th>
            <th>Ville</th>
            <th>Telephone</th>
        </tr>
        <tr>
            <td>Au Petit Producteur</td>
            <td>802 954 785 00028</td>
            <td>Morel</td>
            <td>Jonathan</td>
            <td>jonathan@example.com</td>
            <td>Rue xxxxx</td>
            <td></td>
            <td>69003</td>
            <td>Lyon</td>
            <td>06xxxxxxx</td>
        </tr>
    </table>
</div>

<div class="my-4">
    <button>Modifier mes informations</button>
</div>

<div class="my-4">
    <a href="">Consulter les avis</a>
</div>

<p>

<div class="my-4">
<h5>Mon stock de produits : </h5>
</div>

<div class="my-4">
    <table>
        <tr>
            <th>Nom du Produit</th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Modifier</th>
            <th>Supprimer</th>

        </tr>
        <tr>
            <td>Carottes</td>
            <td>20</td>
            <td>5 euros</td>
            <td><button>Modifier</button></td>
            <td><button>Supprimer</button></td>
        </tr>
    </table>
</div>

<div class="my-4"><button>Ajouter un stock</button></div>

<div class="my-4">
<h5>Liste des points Relais : </h5>
</div>

<div class="my-4">
    <table>
        <tr>
            <th>Nom du Point Relai</th>
            <th>Adresse1</th>
            <th>Adresse2</th>
            <th>Code Postal</th>
            <th>Ville</th>

        </tr>
        <tr>
            <td>Relai du Vent</td>
            <td>34, rue des dames</td>
            <td></td>
            <td>69003</td>
            <td>Lyon</td>
        </tr>
    </table>
</div>

<div class="my-4"><button>Ajouter un Point Relai</button></div>
<div class="my-4"><button>Supprimer mon compte</button></div>
{% endif %}

{% endblock %}